.like-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.like-button-container .button-container {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.like-button {
	border: none;
	color: #fff;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: #404044;
	border-radius: 4px;
	padding: 6px 15px;
	margin: 0 10px;
}

.like-button-active {
	background-color: #f6307c;
}

.like-button-neutral {
	background-color: #214b81;
}
