BasicCard {
	margin-top: 500px;
}
.card {
	color: rgb(255, 255, 255);
}

div {
	margin: 0;
	padding: 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;

	width: 60%;
	padding: 48px 80px;
	gap: 24px;
}

.footer-title {
	margin-bottom: 16px;
}

.footer-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer-links {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer-links .link {
	color: #ffffff;
	text-decoration: none;
}

.footer-links .text-and-icon {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 4px;
}

.footer-links .text {
	color: #ffffff;
	text-decoration: none;
}

.footer-links .icon {
	color: #ffffff;
	height: 24px;
	width: 24px;
}

.text :hover {
	color: #c8d8e9;
}

@media screen and (max-width: 900px) {
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding: 48px 80px;
		gap: 16px;
	}

	.footer-title {
		margin-bottom: 16px;
	}
}
.ImageSlider {
	display: flex;
	align-content: stretch;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.WholeContainer {
	display: flex;
	margin-left: 24px;
	margin-top: 36px;
	margin-right: 16px;
	margin-bottom: 16px;
}
.CardImage {
	width: 100%;
	max-width: 400px;
	max-height: 400px;
	height: 100%;
	border-radius: 15px;
}
.ContentContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 1.2em;
}
.Title,
.Location,
.Date,
.Description {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin: 12px;
}
.Title {
	font-weight: 700;
	letter-spacing: 0.25em;
	font-size: 25px;
}
.Location {
	font-weight: 500;
	letter-spacing: 0.25em;
	font-size: 16px;
}
.Description {
	width: 40%;
	font-size: 12px;
	font-weight: 500;
}
