.map-container {
	display: flex;
	flex-direction: column;
}
.map {
	height: 800px;
	width: 800px;
	width: 100%;
	display: flex;
	margin: 16px 16px 16px 0px;
}

.search {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 400px;
	z-index: 10;
}

.search input {
	padding: 0.5rem;
	font-size: 1.5rem;
	width: 100%;
}
.search {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 400px;
	z-index: 10;
}

.locate {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	z-index: 10;
}
@media screen and (max-width: 900px) {
	.map {
		display: flex;
		justify-content: center;
		align-items: center;
		align-items: center;
		width: 100vw !important;
		height: 150vw !important;
		align-content: center;
		margin: 16px 0 0 0;
	}
}

/*** Add icon effect ***/

/* Base CSS */
.base-icon {
	font-size: 0px;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	position: relative;
	color: #fff;
}

.base-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: "";
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.base-icon:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.hover-icon-effect .base-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

/* Hover effect CSS */
.hover-icon-effect .base-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hover-icon-effect .base-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.hover-icon-effect .base-icon:hover {
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
	color: #fff;
}
